@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --green: #27ae60;
  --black: #192a56;
  --light-color: #666;
  --font-poppins: "Poppins", sans-serif;
  --font-montserrat: "Montserrat", sans-serif;
}

body {
  font-family: var(--font-poppins), sans-serif;
}

.montserrat {
  font-family: var(--font-montserrat), sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-montserrat), sans-serif;
  color: #0b0918;
}

p {
  font-family: var(--font-poppins), sans-serif;
  color: #0b0918;
}
